<div fxLayout="row wrap" fxLayoutAlign="start" class="giphy-list default-height">
  <div *ngFor='let gip of giphyList' class="giphy-item">
    <mat-card class="card">
      <p>{{gip.title}}</p>
      <img class="card-image" mat-card-image [src]="getImageUrl(gip)" alt="Photo of a Shiba Inu">
      <mat-card-content fxLayoutAlign="center">
        <button mat-raised-button color="primary" [disabled]="isGiphyExists(gip)"
          (click)="onBookmark(gip)">{{ bookmark ? 'Remove' : 'Bookmark' }}</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>