.card {
  max-width: 400px;
  height: 90%;
}

.card > p {
  height: 20px;
  font-size: 14px;
  font-family: nexablack, sans-serif;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.card-image {
  height: 55%;
}

.giphy-list {
  height: 100%;
  overflow: auto;
  /* padding-left: 10%; */
}

.giphy-item {
  margin: 25px;
  box-shadow: 3px 3px 5px 6px #ccc;
  max-height: 40%;
  min-height: 30%;
  width: 20%;
  min-width: 260px;
  /* min-width: 15%; */
}
