<div *ngIf="!loading" fxLayout="column" fxLayoutAlign="center center" class="default-height">
  <div class="search-input" fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field class="example-full-width">
      <input matInput (keyup.enter)="getGiphies()" placeholder="search Giphy" [formControl]="searchControl" />
    </mat-form-field>

    <button [disabled]="!searchControl.value" mat-raised-button color="primary" (click)="getGiphies()">
      Search
    </button>
  </div>
  <app-giphy-list [giphyList]="giphyList" [bookmark]="false" class="giphy-list"></app-giphy-list>
  <mat-paginator [disabled]="!searchControl.value" [length]="searchPageInfo.totalCount"
    [pageSize]="searchPageInfo.pageSize" [pageIndex]="searchPageInfo.pageIndex" [pageSizeOptions]="[12, 24, 48, 96]"
    (page)="onPagination($event)">
  </mat-paginator>
</div>
<div *ngIf="loading" fxLayout="row" fxLayoutAlign="center center" class="default-height">
  <mat-spinner></mat-spinner>
</div>