<div fxFlex="100" fxLayout="row" fxLayoutAlign="center">
    <mat-card class="login-section" fxLayout="column" fxLayoutAlign="space-between center">
        <mat-card-content fxFlex="75" class="login-controls">
            <form [formGroup]="loginForm">
                <div fxLayout="column" fxLayoutAlign="space-between center">
                    <mat-form-field>
                        <input matInput placeholder="Username" formControlName="username">
                    </mat-form-field>
                    <mat-form-field class="password">
                        <input matInput placeholder="Password" formControlName="password">
                    </mat-form-field>
                </div>
            </form>
            <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
        </mat-card-content>
        <mat-card-actions fxFlex="25">
            <button mat-raised-button (click)="login()" [disabled]="loginForm.invalid">Login</button>
        </mat-card-actions>
    </mat-card>
</div>